<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit Todo</title>
  <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>
  <form action="Todo/edit/" method="post">
    <input type="text" value="" name="Title" placeholder="Enter Title Here" required>
    <input type="text" value="" name="Description" placeholder="Enter Description Here" required>
    <input type="submit" value="Create A Task">
  </form>
</body>
</html>